<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Navegaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-button routerLink="[/pagina2, valor]" expand="full" color="danger">
    Navegación con linkRouter
  </ion-button>

  <ion-button (click)="enrutarPagina()" expand="full" color="success">
    Navegación con Router
  </ion-button>

  <ion-button (click)="routingViaNavParams()" expand="full" color="primary">
    Navegación con navCtrl
  </ion-button>
</ion-content>
